<div class="footer-container">
    <footer class="footer">
      <div class="footer-content">
        <a href="#" class="footer-logo">Théo Nicoleli</a>
        <span class="footer-text">© 2024 Portfolio</span>
      </div>
      <ul class="footer-socials">
        <li>
          <a href="https://www.linkedin.com/in/theo-nicoleli">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/theonicoleli">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
      </ul>      
    </footer>
</div>
