.card {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: "Poppins", sans-serif;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
}

.card-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #151618;
  color: #FFA688;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
}

.card-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/coffe-image.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.card:hover .card-image::before {
  opacity: 1;
}

.info-about-work {
  padding: 40px;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.card:hover .card-content {
  opacity: 1;
}

.languages {
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 8px;
  width: 90%;
}

.whole-languages {
  display: flex;
  gap: 8px;
}

.languages a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  transition: 0.2s;
}

.languages a:hover {
  color: #bbb8b6;
}

.language-circle {
  width: auto;
  background-color: #FFA688;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  padding: 8px;
  
  &:hover {
    background-color: #e67e22;
  }
}
